html {
    font-family: "Roboto";
    height: 100%;
}
body {
    height: 100%;
}

#root {
    height: 100%;
}
.AuthDiv {
    height: 100%;
}
.FormGroup {
    margin: 10px 10px;
    width: 100%;
}

.FormGroupLogin {
    margin: 25px 0px;
    width: 100%;
}
.FormGroupAddress {
    margin: 20px 15px 0 0;
    width: 100%;
    float: left;
}
.InputLabel {
    text-transform: capitalize;
}
.selectLabel {
    margin: 0px 0 -9px 8px;
    padding: 0 5px;
    z-index: 5;
    float: left;
    width: fit-content;
    color: #777676;
    font-size: 9pt;
    background: #fff;
}
.typography {
    float: left;
    padding: 10px 0 20px 110px;
}
.panelLargeIcon {
    float: left;
    margin: -20px 0 -50px 20px;
    z-index: 1000;
    padding: 15px 20px;
    background: linear-gradient(60deg, rgb(63, 81, 181), rgb(6, 193, 249));
    color: #fff !important;
}
.panelGridRelative {
    position: relative;
    margin-top: 0px !important;
    float: left;
}
.addButtonPlace {
    margin: 15px 10px 0px 10px;
    float: right;
}
.addButtonIcon {
    float: right;
    color: #000;
}
.listViewPaper {
    width: 100%;
    min-height: 350px;
    margin-bottom: 55px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.listViewPaperPadding {
    padding: 15px;
    width: 100%;
    min-height: 350px;
    margin-bottom: 55px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.permissions .permissions_div b {
    margin-top: 20px;
    float: left;
    width: 100%;
}

.permissions .permissions_div {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.MuiFormHelperText-root {
    margin-top: 2px !important;
}
.MuiFormControl-marginNormal {
    margin-bottom: 0px !important;
}
.css-26l3qy-menu {
    z-index: 11 !important;
}
.copyAddressPlace {
    float: left;
    margin-bottom: -50px;
    margin-top: 5px;
    position: relative;
    z-index: 100;
}
.saveButtonPlace {
    float: right;
    margin-top: 80px;
    position: fixed;
    bottom: 20px;
    z-index: 99999;
    margin-top: 25px;
}
.gridRightPlace {
    float: left;
    padding: 10px;
    margin-top: 25px;
}
.addressFormControll {
    width: 100%;
    margin-top: 6px;
}
.containerP {
    margin: 55px 15px;
}
.containerP form .MuiGrid-container:first-child {
    display: block !important;
}
.containerP form .MuiGrid-container .MuiGrid-grid-sm-12 .MuiGrid-grid-sm-4 {
    display: flex !important;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(14px, -6px) scale(0.75);
    z-index: 5 !important;
}
.MuiGrid-spacing-xs-3 > .MuiGrid-item {
    padding: 5px !important;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff !important;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000 !important;
    text-shadow: 0px 0px 5px #fff;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.MuiExpansionPanel-root.Mui-expanded {
    margin: 0 !important;
}
.MuiExpansionPanelSummary-content.Mui-expanded {
    margin: 0px 0 !important;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
    z-index: 0;
}

.slide-pane__overlay {
    z-index: 10;
}

.slide-pane__content {
    padding: 0px 0px !important;
}
.MuiFormLabel-root {
    color: rgb(119, 118, 118) !important;
    line-height: auto !important;
}
.MuiSlider-colorSecondary {
    color: #f50057;
    z-index: 0;
}

.sidenav---sidenav---_2tBP {
    position: fixed !important;
    font-family: "Roboto";
}
.sidenav---sidenav-nav---3tvij
    > .sidenav---sidenav-navitem---uwIJ-
    > .sidenav---navitem---9uL5T
    .sidenav---navicon---3gCRo,
.sidenav---sidenav-nav---3tvij
    > .sidenav---sidenav-navitem---uwIJ-
    > .sidenav---navitem---9uL5T
    .sidenav---navtext---1AE_f {
    color: #fff !important;
}
.sidenav---sidenav---_2tBP {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 999999 !important;
    min-width: 64px;
    background: linear-gradient(90deg, #3a5fbe, #229de4) !important;
    transition: min-width 0.15s;
}

.sidenav---sidenav-nav---3tvij
    > .sidenav---sidenav-navitem---uwIJ-
    > .sidenav---navitem---9uL5T
    .sidenav---navicon---3gCRo
    > *,
.sidenav---sidenav-nav---3tvij
    > .sidenav---sidenav-navitem---uwIJ-
    > .sidenav---navitem---9uL5T
    .sidenav---navtext---1AE_f
    > * {
    color: #fff !important;
}

.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL
    .sidenav---sidenav-subnav---1EN61
    > .sidenav---sidenav-subnavitem---1cD47
    > .sidenav---navitem---9uL5T {
    color: #fff !important;
    padding: 0 14px 0 20px;
    line-height: 28px;
}

.css-yk16xz-control,
.css-1pahdxg-control {
    min-height: 40px !important;
    margin-top: 3px !important;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
    background: #fff;
}

.MuiTableCell-root {
    display: table-cell;
    padding: 5px 5px 5px 15px !important;
}
.MuiTableCell-alignRight {
    text-align: center !important;
}

.MuiTableCell-body .MuiIconButton-root {
    padding: 5px !important;
}

.textRight {
    text-align: right !important;
}

.loginBanner {
    background-image: url(../images/banner.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0px;
}

.logo {
    background-image: url(../images/logo.png);
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

body {
    margin: 0;
}

.loadingGif {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    z-index: 999999;
    background-color: #fff;
}

.invoice_partical {
    background: #ff7300;
    padding: 5px;
}

.invoice_unpaid {
    padding: 5px;
    background: #ff0000;
}

.invoice_paid {
    padding: 5px;
    background: #48ff00;
}

@media only screen and (max-width: 600px) {
    .loginBanner {
        display: none;
    }
}
